body {
    margin: 20px auto;
    max-width: 800px;
    padding: 0 20px;
    text-align: center;
}

label {
    display: inline-block;
}

hr {
    border-color: gray;
}

.form {
    display: flex;
    justify-content: center;
    align-content: center;
}

button.form {
    max-width: 50%;
}